/* Custom CSS goes here */
.container{
  text-decoration:underline ;
  }
  body {
    padding-bottom: 70px;
    background-color: #303030;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
  .nav{
    background-color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  